li {
    list-style: none;
}

#album-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1250px;
    margin: auto;
    gap: 10px;
}

#album-photos{
    width: 60px;
    display: block;
    border: 1px solid black;
    padding: 18px;
    border-radius: 12px;
    margin-top: 10px;
    box-shadow: 3px 4px rgb(169, 164, 164);
}

#album-li:hover {
    transform: scale(2.4);
}

#album-li:hover > #album-photos{
    padding: 2px;
}

#album-button{
    margin-top: 2rem;
    margin-top: 50px;
}

.album-p{
    width: 140px;
    margin-bottom: 60px;
    text-align: center;
}