li{
    list-style: none;
}

#album-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1150px;
    margin: auto;
    gap: 10px;
}

.photos{
    width: 50px;
    display: block;
}


