.albums-li{
    margin-right: 40px;
    margin-top: 10px;
    height: 80px;
    list-style: none;
    padding: 10px;
    border:2px solid black;
    width: 500px;
    background-color: rgb(255, 210, 120);
    box-shadow: 3px 4px rgb(159, 142, 142);
}