li {
    list-style: none;
}

#album-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1150px;
    margin: auto;
    gap: 10px;
}

#albums-photos{
    width: 65px;
    display: block;
    border: 1px solid black;
    padding: 18px;
    border-radius: 12px;
    margin-top: 10px;
    box-shadow: 3px 4px rgb(169, 164, 164);
}

#albums-li:hover {
    transform: scale(2.4);
}

#albums-li:hover > #albums-photos{
    padding: 2px;
}

#albums-button{
    margin-top: 2rem;
}

#albums-p{
    margin-top: 3rem;
}