  .header{
    border: 4px solid lightgreen;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0.2rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    background-color: rgb(255, 255, 255);
  }
  
  .header:hover{
    background-color: lightgreen;
  }

  ul{
    list-style: none ;
  }
  
  a{ 
    text-decoration: none;
  }

  #navRight{
    text-align: right;
    margin-left: 55vw;
  }

  #header-div{
    margin-top: -20px;
   background-color: rgb(222, 222, 222);
  }
