.comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    width: 500px;
    padding: 30px;
    border-radius:12px;
    margin-top: 10px;
    box-shadow: 3px 4px rgb(169, 164, 164);
    background-color:  rgba(1, 22, 255, 0.187);
}

#post-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;

}

#h1{
    width: 60%;
    text-align: center;
}

#h2{
    width: 50%;
    font-size: 25px;
    text-align: center;
}

button{
    padding: 5px;
    border-radius: 6px;
    background-color: rgba(1, 22, 255, 0.704);
    font-size: 18px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

button:hover{
    background-color: rgb(134, 134, 248);
    color: white;
}


