ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.to-do-list{
    list-style: none;
    padding: 30px;
    border:2px solid black;
    width: 150px;
    height: 100px;
    background-color: beige;
    box-shadow: 3px 4px rgb(159, 142, 142);
}

li:has(input[type="checkbox"]:checked){
    background-color:rgb(10, 227, 10);
}

input[type="checkbox"]:checked{
    display: none;
}

.to-button{
    margin-top: 10px;
    margin-left: 20px;
    width: 140px;
    display: inline;
    background-color: rgb(104, 234, 189);
    color: black;
}

#to-div{
   display: flex;
  align-items: center;  

}