ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


li{
    list-style: none;
    padding: 50px;
    border:2px solid black;
    width: 150px;
    height: 100px;
}

ul li input[type="checkbox"]:checked+label{
    color:green;
}